@using CanteenManage.Models
@model CanteenManage.Models.parcialViewModel.ChoseDateViewDataModel;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    var dayes = Model.daysOfWeekModel;
}


<div class="" style="margin-left:2px">
    <form asp-action="SelectDaysOfWeek" method="post">
        <input type="hidden" name="selecteddate" value="@(dayes.DateShort)" />
        <input type="hidden" name="selecteddatefull" value="@(dayes.DateFull)" />
        @* <button class="date-btn @(dayes.IsSelected ? "active" : "")" @(!dayes.IsActiveDay ? "disabled" : "")>
            @dayes.DateShort<br><small>@dayes.DaysOfWeekName</small></button> *@
        <button class="date-btn @(dayes.IsSelected ? "active" : "")">
            @dayes.DateShort<br><small>@dayes.DaysOfWeekName</small>
        </button>
       
    </form>
</div>