@using CanteenManage.Repo.Models
@using CanteenManage.Models
@using CanteenManage.Models.parcialViewModel
@model BreakFastPageDataModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section HeadSection{

<link rel="stylesheet" href="~/css/customStyles.css">
}

<div class=" container-fluid" style="
">
    <div class="d-flex justify-content-between">
        <div class="row">
            <div class="col">
                <h3>Breakfast Items</h3>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-1 align-content-center"> <h6>Chose Date:-</h6> </div>
        <div class="col">
            <div class="d-inline-flex" style="height:40px">
                @foreach (var dayes in Model.DayOfWeeks)
                {
                    <div class="" style="margin-left:2px">
                        <form asp-action="SelectDaysOfWeek" method="post">
                            <input type="hidden" name="selecteddate" value="@(dayes.DateShort)" />
                            <input type="hidden" name="selecteddatefull" value="@(dayes.DateFull)" />
                            <button type="submit" class="btn @(dayes.IsSelected?"btn-primary":"btn-outline-primary") @(!dayes.IsActiveDay ? "disabled" : "") " style="min-width:50px">
                                <div>
                                    <span class="align-middle">@dayes.DateShort</span>
                                </div>
                                @dayes.DaysOfWeekName
                            </button>
                        </form>
                    </div>
                }

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Total for @(Model.DayOfWeeks.Where(d => d.IsSelected)?.FirstOrDefault()?.DateShort) is:-<b> @(Model.totalCountForSelectedDay)</b></p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-2">
        @foreach (Food food in Model.foods)
        {
            <div class="col">
                @(
                    await Html.PartialAsync("_FoodItemCardView", new FoodItemCardDataModel()
                {
                    food=food,
                })
                )
            </div>
        }

    </div>
</div>
